/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,400;1,200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,400;1,200&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* RESETS */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* GLOBAL STYLING */
body {
  color: #1c0d43;
}
p {
  font-family: Quantico;
  font-weight: 400;
  line-height: 1.5;
}
main {
  margin-left: 20vw;
}
h2 {
  font-family: Days One, sans-serif;
  color: white;
  background: #0f062b;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 0.75em;
  padding: 0.25em;
}
h3 {
  font-family: Days One, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
h4 {
  font-family: Days One, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
h5 {
  font-family: Days One, sans-serif;
  font-size: 0.75em;
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-left: 0.5em;
}
h5 a {
  color: rgba(16, 6, 45, 0.8);
}
img {
  width: 100%;
}
ul {
  font-family: Quantico;
  list-style-type: square;
  margin-left: 40px;
}
li {
  padding-left: 2em;
}
a {
  text-decoration: none;
  color: hsl(255, 76%, 10%);
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

/* BEGIN IDS */
#side-nav {
  width: 20vw;
  background: white;
  position: fixed;
  z-index: 5;
  height: 100%;
  /*   border: 1px red solid; */
}
#list-of-effects h3 {
  text-decoration: underline;
}

/* CONTAINERS */
.flex-container {
  display: flex;
  flex-direction: row;
  max-width: 90vw;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.half-container {
  padding: 1.5em;
  width: 100%;
  /* border: 1px solid red; */
}
.nav-container {
  display: flex;
  flex-direction: column;
  margin: 1em 0 0 1em;
  /* border: 1px red solid; */
}

/* Skips the parent element and selects just the children */
.flow > * + * {
  margin-bottom: 1em;
}

/* BEGIN CLASSES */
.toc-top-item {
  display: flex;
  justify-content: space-between;
  /*   margin: 0px 15px 0px 100px; */
  border-bottom: 1px solid black;
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
  .flex-container {
    flex-direction: column;
  }
  .half-container {
    width: 100%;
    padding: 0;
  }
  nav {
    display: none;
  }
  main {
    margin: 0 auto;
  }
  #toc-mobile {
    display: none;
  }
}

@media (min-width: 900px) {
  #toc-mobile {
    display: none;
  }
}
